//
   Created by sn on 2016/11/18.

extends layout
block content
    h3.field.wordheader #{title}
    form.wordform(action='../edit',method='post')
        p.mess #{message}
        input(type='hidden',name='id', value='#{word.id}')
        div.item
            label.label(for='name') 单词
            input(type='text', placeholder='单词',id='name',name='name', value='#{word.name}')
        div.item
            label.label(for='rank') 星级
            input(type='text',placeholder='星级',id='rank',name='rank', value='#{word.rank}')
        div.item
            label.label
            input(type='submit' id='sub',name='sub' value='提交')