//
   Created by sn on 2016/11/18.

extends layout
block content
    h3.field.wordheader #{title}
    form.wordform(action='../edit',method='post')
        p.mess #{message}
        input(type='hidden',name='id', value='#{word.id}')
        div.item
            label.label(for='chinese') 中文
            input(type='text', placeholder='中文',id='chinese',name='chinese', value='#{word.chinese}')
        div.item
            label.label(for='english') 英文
            input(type='text',placeholder='英文',id='english',name='english', value='#{word.english}')
        div.item
            label.label(for='type') 类型
            input(type='text',placeholder='内容',id='type',name='type', value='#{word.type}')
        div.item
            label.label(for='group') 分组
            input(type='text',placeholder='内容',id='group',name='group', value='#{word.group}')
        div.item
            label.label(for='origin') 来源
            input(type='text',placeholder='来源',id='origin',name='origin', value='#{word.origin}')
        div.item
            label.label
            input(type='submit' id='sub',name='sub' value='提交')