//
   Created by sn on 2016/11/18.

extends layout
block content
    main.main
        section.show
            p
                h2.title
            ul
                each val in studies
                    li
                        a(href="view/#{val.id}") 查看
                        a(href="edit/#{val.id}") 编辑
						a(href="del/#{val.id}") 删除
                        span #{val.chinese}
                        span #{val.english}



