//
   Created by sn on 2016/11/18.

extends layout
block content
    main.main
        section.show
            p
                h2.title
            table
                each value, key in words
                    tr
                        td #{key}
                        td #{value.name}
                        td #{value.rank}
                        td #{value.status}
                        td
                            a(href="edit/#{value.id}") 编辑
                            a(href="del/#{value.id}") 删除





