//
   Created by sn on 2016/11/18.

extends layout
block content
    main.main
        section.show
            p
                h2.title
            p
                a(href="/study/list/rank/5") 5星
                | &nbsp;
                a(href="/study/list/rank/4") 4星
                | &nbsp;
                a(href="/study/list/rank/3") 3星
                | &nbsp;
                a(href="/study/list/rank/2") 2星
                | &nbsp;
                a(href="/study/list/rank/1") 1星
                | &nbsp;
                a(href="/study/list/rank/0") 0星
            ul
                each val in studies
                    li
                        a(href="view/#{val.id}") 查看
                        a(href="edit/#{val.id}") 编辑
                        a(href="del/#{val.id}") 删除
                        span #{val.chinese}
                        span #{val.english}



