extends layout
block content
    #container.col
    p
        span 中文: #{word.chinese}
    p
        span 英文: #{word.english}
    p
        span 类型: #{word.type}
    p
        span 分组: #{word.group}
    p
        span 来源: #{word.origin}
